<div class="sidebar">
    <div class="top-row pl-4 navbar navbar-dark">
        <a class="navbar-brand" href="">CorridaClub</a>
    </div>

    <div class="nav-scrollable">
        <ul class="nav flex-column">
            <li class="nav-item px-3">
                <a class="nav-link" href="/">
                    <span class="oi oi-home" aria-hidden="true"></span> Home
                </a>
            </li>
            <li class="nav-item px-3">
                <a class="nav-link" href="/usuarios">
                    <span class="oi oi-people" aria-hidden="true"></span> Usuários
                </a>
            </li>
            <li class="nav-item px-3">
                <a class="nav-link" href="/eventos">
                    <span class="oi oi-calendar" aria-hidden="true"></span> Eventos
                </a>
            </li>
            <li class="nav-item px-3">
                <a class="nav-link" href="/inscricoes">
                    <span class="oi oi-clipboard" aria-hidden="true"></span> Inscrições
                </a>
            </li>
            <li class="nav-item px-3">
                <a class="nav-link" href="/pedidos">
                    <span class="oi oi-cart" aria-hidden="true"></span> Pedidos
                </a>
            </li>
        </ul>
    </div>
</div>